<ion-view view-title="Dashboard">
  <ion-content class="padding">
    
    <div class="card">
      <div class="item item-text-wrap">
        DRUPAL
      </div>
      <div>
        <div class="item item-text-wrap">
          puntos = 5
        </div>

        <div class="item item-text-wrap">
          Banderas = 2
        </div>
      </div>
    </div>

  <div class="button-bar">
    <a class="button button-positive">+</a>
    <a class="button button-assertive">-</a>
    <a class="button button-energized">B</a>
    <a class="button button-dark ion-chevron-left"></a>
  </div>

 <div class="card">
      <div class="item item-text-wrap">
        IONIC
      </div>
      <div>
        <div class="item item-text-wrap">
          puntos = 5
        </div>

        <div class="item item-text-wrap">
          Banderas = 2
        </div>
      </div>
    </div>

  <div class="button-bar">
    <a class="button button-positive">+</a>
    <a class="button button-assertive">-</a>
    <a class="button button-energized">B</a>
    <a class="button button-dark ion-chevron-left"></a>
  </div>

   
  </ion-content>
</ion-view>
